*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: Cambria;
}
body{
    height: 100%;
    background: rgb(21, 55, 131);  
}
.container{
    background: rgb(64, 71, 150);
    width: 400px;
    padding: 35px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 15px 30px 35px rgba(61, 12, 12, 0.1);
}
.coin{
    height: 150px;
    width: 150px;
    position: relative;
    margin: 32px auto;
    transform-style: preserve-3d;
}
.coin img{
    width: 100%;  
}
.heads, .tails{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.tails{
    transform: rotateX(180deg);   
}
/*Now add flip animation*/
@keyframes spin-tails{
   0%{
    transform: rotateX(0) ; /* rotateX help to rotate this coin according to x axis*/
   } 
   100%{
    transform: rotateX(1980deg); /* 1980 + 180 = 2160deg */
   }
}

@keyframes spin-heads{
    0%{
     transform: rotateX(0) ; /* rotateX help to rotate this coin according to x axis*/
    } 
    100%{
     transform: rotateX(2160deg) ;
    }
}
.stats{
    display: flex;
    color: #101020;
    font-weight: 500;
    padding: 20px;
    margin-top: 55px;
    margin-bottom: 40px;
    box-shadow: 0 0 20px rgba(0,139,253,0.25);
}
.stats p:nth-last-child(1){
    margin-left: 50%;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
button{
    width: 150px;
    padding: 15px 0;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
#flip-button{
    background: #053469;
    color: white;
}
#flip-button:disabled{
    background: #beb9c0dc;
    border-color: #9e9d9f;
    color:#2f2d2f;
}
#reset-button{
    background: #362a13;
    color: white;
}
